langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
pypdf
chromadb
faiss-cpu
lancedb
sentence-transformers
arxiv
wikipedia
beautifulsoup4
langchain-groq
groq
bs4
langchainhub
PyPDF2
langchain-objectbox
huggingface_hub
transformers
torch
accelerate